.background_shopping_bag {
  border-radius: 50%;
  background: #5C9963;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}